

.players {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
  line-height:normal;

  a {
    display: block;
    cursor: pointer;
    width: 24%;
    margin: .5%;
  }
}

.info {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 480px);
}