doctype html
br
.players(#playersEl)
  .player(*ngFor="let item of playerFilterResponse;")
    a.player-avatar([routerLink]="['/player', item.player.id]")
      img(src="https://tmssl.akamaized.net/{{item.player.avatar}}")
    .player-info
      a.player-name([routerLink]="['/player', item.player.id]") {{ (item.player.first_name || "") + " " + item.player. last_name }} 
      .player-role-age-height {{item.player.role?.name | titlecase }} {{item.player.age}} - {{ item.player.height }}
      .player-team(*ngIf="item.player.team")
        img(src="https://tmssl.akamaized.net/{{item.player.team.preview }}")
        span {{ item.player.team.name }}
      .player-dash
        .player-goals 
          b {{ item.goals_count || item.player.goals_count }} 
          span GOALS
        .player-assists 
          b {{ item.assists_count || item.player.assists_count }}  
          span ASSIST
        .player-min 
          b {{ item.play_time_sum || item.player.play_time }}  
          span MIN
        
.loader(*ngIf="loading")
  mat-spinner

.not-found(*ngIf="players && players.length==0")
  h1 No players found
  h5 Please try again
