.players
  a(*ngFor="let player of players;", [routerLink]="['/player', player.id]").card
    .avatar
      img(src="https://tmssl.akamaized.net/{{player.avatar}}")
    .info
      .name {{ player.native_name  || player.first_name + " " + player. last_name }} 
      .subtitle {{ player.role.name }}

div.info(*ngIf="players && players.length==0")
  h1 No players found
  h5 Please try again
