doctype html
mat-progress-bar(mode="indeterminate", *ngIf="isLoading")

mat-sidenav-container
  mat-sidenav(#snav, [mode]="device.isMobile() ? 'over' : 'side'", [fixedInViewport]="device.isMobile()",  [opened]="!device.isMobile()")
    mat-toolbar
      img(src="../../../../assets/images/logo.png")
      //mat-icon.logo extension
      //span 
      //  | GENIE
      //  br
      //  | FOOTBALL
      //.flex-space
    mat-nav-list
      ul
        li 
          a 
            //mat-icon pie_chart
            i(icon="../../../../assets/images/icons/__market.png")
            span MARKET VIEW
        li 
          a(routerLink="/players/filter", routerLinkActive="active")
            //mat-icon layers
            i(icon="../../../../assets/images/icons/__data.png")

            span PLAYERS

      ul
        li 
          a 
            //mat-icon person_outline
            i(icon="../../../../assets/images/icons/__user.png")
            span PROFILE
        li 
          a
            //mat-icon fingerprint
            i(icon="../../../../assets/images/icons/__logout.png")
            span LOGOUT

  mat-sidenav-content
    mat-toolbar
      button(mat-icon-button, (click)="snav.toggle()")
        mat-icon menu
    
    router-outlet