form {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 10px;

  mat-expansion-panel {
    text-align: center;
  }

  mat-form-field {
    margin: 0 5px;
    width: 30vw;

    &.short {
      width: 19.82vw;
    }
  }
}

.info {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 480px);
}