body {
  margin: 0;
  padding: 0;
  color: #111;
  font: normal 11pt 'PT Sans', Arial,Helvetica,sans-serif;
  background: #f4f4f9;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.center{text-align: center}
.left{float: left;}
.right{float:right;}
.overflow{overflow: hidden;}
.hidden{display: none!important;}
.visible{display: block!important;}
.relative{position: relative}
.clear{clear:both}

.fixed{position: fixed;}

.header{background:#fff;box-shadow: 0 1px 6px #00000014;padding: 10px 0;color: #111;}
.header .logo{width: 30px;margin: 3px 0 0;}
.header .logo a{display:block;}
.header .logo img{display:block; width:100%;}

.header .profile{}
.header .profile img{width: 38px;display: block;border-radius: 20px;}
.header .profile a{
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .5px;
}

.wrap{max-width: 980px;margin: 0 auto;padding: 0 40px;}

.view{padding: 20px 0;margin-bottom: 120px;}
.view-main{
  float: left;
  width: 70%;
}
.view-side{
  float: right;
  width: 28%;
}
.view-part{
  box-shadow: 0 1px 6px #00000014;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
}
.view-part-inner{
  padding: 20px;
  position: relative;
}

.view-part-header{
  padding: 20px 20px 0px;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}
.view-side .view-part-header{margin-bottom:0;}
.agent-name{margin:0;margin-bottom: 15px;text-align: center;}

.view-part-timeline{
  background-image: url(https://foot-genie.com/images/_pm_001.jpg);
  background-size: cover;
  position: relative;
  background-position: right;
}
.timeline-request-cover{background: linear-gradient(45deg, rgba(71, 33, 226, 0.02) 0%, rgba(123, 92, 253, 0.71) 100%);position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.view-part-timeline .view-part-header-title{color:#fff; }
.timeline-request{
  color: #fff;
}
.timeline-request-i{
  margin-bottom: 5px;
  text-align: center;
  width: 140px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.request-btn{
  background: #ffffff;
  padding: 10px 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  margin: 10px 0  0;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 12px;
  color: #5e32f2;
  font-weight: bold;
  width: 145px;
  margin: 20px  auto 20px;
}

.view-part-header-title{
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: 'PT Sans',sans-serif;
  color: #848a94;
  float:left;
}
.view-part-header-right{float:right;}
.video-btn{float: right;text-decoration: none;border-radius: 20px;color: #ffffff;text-transform: uppercase;font-size: 12px;letter-spacing: .5px;margin-left: 5px;line-height: 12px;background: #6d45fa;padding: 10px 20px;border: 1px solid #f0f0fa;cursor: pointer;background: linear-gradient(45deg, rgb(71, 33, 226) 0%, rgb(123, 92, 253) 100%);}
.video-btn img{margin-right: 3px;}


.player-view-table{
  border-collapse: collapse;
  border-top: 1px solid #f0f0fa;
}
.player-view-table-tr{
  /* overflow: hidden; */
  /* vertical-align: middle; */
  border-bottom: 1px solid #f0f0fa;
}
.player-view-table-td{
  /* width: 16%; */
  /* float: left; */
  padding: 10px 5px;
  /* display: inline-block; */
  /* vertical-align: middle; */
  font-weight: bold;
  vertical-align: middle;
}


.table-preview{
  width: 29%;
}
.table-team-icon{
  width: 45px;
  text-align: center;
}
.table-team-icon-home{padding-left: 20px}
.table-team-icon-away{padding-right: 20px}
.table-team-icon a{
  display: block;
  width: 100%;
}
.table-team-icon img{
  display: block;
  height: 40px;
  margin: 0 auto;
}
.table-icon{
  width: 40px;
  text-align: center;
  font-weight: bold;
}
.table-icon img{}
.table-details{
  /* width: 41%; */
}
.table-teams{
  height: 20px;
  overflow: hidden;
  font-size: 14px;
}
.table-teams a{text-decoration:none;color: #000000;}
.table-date{
  color: #6a707d;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: .5px;
}
.table-fee{
  width: 27%;
  text-align: center;
  font-weight: bold;
}

.table-time{
  /* width: 8%; */
  text-align: center;
}
.table-cards{
  /* width: 8%; */
  text-align: center;
}
.table-goals{
  /* width: 8%; */
  text-align: center;
}


.navigation{
  width: 300px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  text-align: center;
}
.navigation li{
  display: inline-block;
  margin: 0 10px;
}
.navigation li.market a{
  //background-image: url(../images/market.png);
}
.navigation li.data a{
  //background-image: url(../images/data.png);
}
.navigation li a{
  padding: 10px 0;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  //background-image: url(../images/market.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: 0px 10px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .5px;
  padding-left: 22px;
}

.player-view-header{
}
.player-view-header .view-part-inner{padding:0;position: relative;}
.player-view-header-profile{position:relative;padding: 20px;float: left;width: 175px;}
.player-view-header-img{
  border-radius: 4px 0 0 4px;
  overflow: hidden;
  width: 25%;
  border-radius: 200px;
  width: 130px;
  height: 130px;
  border: 3px solid #d5d5db;
  margin: 0 auto;
}
.player-view-header-img img{
  display: block;
  width: 100%;
  margin-top: -20px;
}
.player-view-header-subtitle{
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .5px;
  margin-bottom: 5px;
  color: #636a77;
}
.player-view-header-info{padding: 30px 0 0;padding-left: 180px;margin-bottom: 20px;/* border-bottom: 1px solid #e8e8e8; */}
.player-view-header-nationality{margin-bottom: 10px;}
.player-view-header-nationality img{width: 17px;display: inline-block;}
.player-view-header-name{margin:0;font-size: 23px;max-width: 240px;margin-bottom: 15px;}
.player-view-header-number{position: absolute;left: 20px;top: 20px;font-size: 17px;font-weight: bold;z-index: 1;background: #efeff7;width: 40px;height: 28px;vertical-align: 40px;line-height: 28px;border-radius: 30px;text-align: center;}
.player-view-header-number span{font-size:12px;}
.player-view-header-teams{
  overflow: hidden;
}
.player-view-header-current{
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
}
.player-view-header-current img{}
.player-view-header-inter{display: inline-block;text-align: center;}
.player-view-header-inter img{width:40px;}
.player-view-header-details{
  overflow: hidden;
  padding: 20px 0;
  /* width: 65%; */
  /* float: left; */
  margin-right: 140px;
}
.player-view-header-detail{
  float: left;
  width: 25%;
  text-align: center;
}
.player-view-header-detail-title{
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .5px;
  color: #636a77;
}
.player-view-header-detail-info{
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 17px;
}

.player-view-header-social{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
.social-lnk{
  /* width: 20px; */
  height: 14px;
  background: url(http://art-z.me/genie/images/social.png);
  color: #111;
  padding-right: 18px;
  margin-right: 0;
  font-size: 12px;
  margin-bottom: 8px;
  background-size: 12px;
  background-repeat: no-repeat;
  /* display: inline-block; */
  text-align: right;
  /* line-height: 1.7; */
  /* display: inline-block; */
  background-size: 12px;
}
.social-lnk.social-lnk-tw{background-position: right -12px;}

.social-lnk.social-lnk-fb{background-position: right 1px;}

.social-lnk.social-lnk-inst{background-position: right -26px;}

.bio-stat{overflow: hidden;border-top: 1px solid #f0f0fa;background: #f8f8fe;position: relative;}
.player-view-bio{padding: 30px;border-top: 1px solid #f0f0fa;}
.detail-position{
  /* width: 35%; */
}
.detail-age{
  /* width: 21%; */
}
.detail-height{
  /* width: 21%; */
}
.detail-foot{
  /* width: 21%; */
}

.contact-btns{
  padding: 0 20px;
  padding: 22px 20px;
  float: right;
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
}
.contact-btn{
  display: block;
  padding: 10px 10px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  background: #573ad1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(71, 33, 226) 0%, rgb(123, 92, 253) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 12px;
  max-width: 120px;
}
.contact-btn img{margin-right: 3px;}

.contact-agent{
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: bold;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 12px;
  border: 2px solid #e4e4ef;
  color: #592af0;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
}


.current-team{overflow: hidden;text-align: left;}
.current-team-img{
  height: 14px;
  width: 14px;
  background-size: cover;
  background-position: 0px;
  background-repeat: no-repeat;
  background-color: #e6e6e6;
  display: inline-block;
  border-radius: 200px;
  margin-top: 2px;
  position: absolute;
}
.current-team-img img{
  display: block;
  width: 35px;
}
.current-team-info{
  display: inline-block;
  /* text-align: left; */
}
.current-team-name{
  padding-left: 20px;
  margin-bottom: 3px;
}
.current-team-name a{text-decoration:none;}
.current-team-since{font-size: 12px;}


.player-view-full-stats{
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0 10px;
}
.player-view-full-stat{}

.yellow-stat{
  display: inline-block;
  width: 4px;
  height: 6px;
  background: #e1e111;
  top: -9px;
  position: relative;
  border-radius: 2px;
  border: 1px solid #ddcf23;
}
.red-stat{display: inline-block;
  width: 4px;
  height: 6px;
  background: #e16611;
  top: -9px;
  position: relative;
  border-radius: 2px;
  border: 1px solid #f7982a;}
.full-stat{
  width: 31.3%;
  padding: 10px 20px;
  /* display: inline-block; */
  float: left;
  //background: #f8f8fe url(../images/timer.png) no-repeat;
  margin-right: 0%;
  /* margin-bottom: 10px; */
  overflow: hidden;
  /* border-radius: 5px; */
  /* text-align: center; */
  margin: 1%;
  margin-bottom: 5px;
  height: 75px;
  background-position: right bottom;
  border-radius: 3px;
  border: 1px solid #f0f0fa;
}
//.full-stat-pergame{background-image:url(../images/pergame.png)}
//.full-stat-chart{background-image:url(../images/chart.png)}
//.full-stat-goal{background-image:url(../images/ball.png)}
//.full-stat-time{background-image:url(../images/timer.png)}
//.full-stat-target{background-image:url(../images/target.png)}
.full-statnum{
  font-size: 20px;
  font-weight: bold;
}
.full-statdesc{
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .5px;
  color: #636a77;
}

.player-view-stats{
  overflow: hidden;
  padding: 15px 10px;
  background: #f8f8fe;
  text-align: center;
  vertical-align: top;
  padding-bottom: 0px;
  border-top: 1px solid #f0f0fa;
}
.player-view-stats .stat{
  display: inline-block;
  width: 19%;
  text-align: center;
  /* margin: 1%; */
  /* background: #f8f8f8; */
  padding: 0 10px 10px;
  vertical-align: top;
}
.player-view-stats .stat .statnum{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
  /* color: #5031d0; */
}
.player-view-stats .stat .statdesc{
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .5px;
  color: #636a77;
}

.show-full-info{
  text-align: center;
  border-top: 1px solid #f0f0fa;
}
.show-full-info a{
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #5a3dd1;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 12px;
}

@media screen and (max-width: 720px){
  .view-main{float:none; width:100%;}
  .view-side{float:none; width:100%;}

}


@media screen and (max-width: 520px){
  .current-team{text-align:center;}
  .player-view-header-nationality{position:absolute; top:20px; left:20px;}
  .player-view-header{}
  .view{padding: 10px 0 ;}
  .wrap{padding: 0 10px;}
  .player-view-header-info{padding:0;text-align:center;}
  .player-view-header-profile{float:none;margin: 0 auto;padding-bottom: 10px;}
  .player-view-header-info{padding:0;text-align:center;}
  .player-view-header-name{max-width: none;padding:0 20px;}
}




.grid {
  .grid-row {
    display: flex;

    @media (max-width: 980px) {
      display: block;
    }

    margin: 20px 0;
    .grid-column {
      flex-grow: 1;
      background: #fff;
      margin-right: 20px;
      border: 1px solid #eee;
      border-radius: 4px;
      padding: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.game {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 20px;
  border-bottom: 1px solid #ececec;

  .date {
    text-transform: uppercase;
    font-size: 10px;
    opacity: .4;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 3px;
    letter-spacing: .5px;
    height: 10px;
    overflow: hidden;
  }

  .team {
    width: 15%;
    text-align: center;
  }
  .info {
    width: 73%;
  }

  .score {
    width: 6%;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }

  .duration {
    width: 4%;
  }

  a {
    display: block
  }

  img {
    height: 35px;
  }
}
